body{
  margin:0;
  background:#000;
  color:#fff;
  font-family:Arial;
  text-align:center;
}

/* ПОЛЕ */
#gameBoard{
  position:relative;
  width:1024px;
  height:1024px;
  margin:auto;

  border-radius:20px;

  border:4px solid #00eaff;

  box-shadow:
    0 0 40px #00eaff,
    0 0 100px #00eaff,
    inset 0 0 40px #00eaff;
}

/* ФИШКИ */
.player{
  position:absolute;
  width:36px;
  height:36px;
  border-radius:50%;
  border:2px solid #fff;

  box-shadow:
    0 0 15px #fff,
    0 0 30px currentColor;
}

/* ХАЙП ЦЕНТР */
#hypeBars{
  position:absolute;
  top:20px;
  left:50%;
  transform:translateX(-50%);
  width:500px;
}

/* ХАЙП ТЕКСТ */
.hypeBig{
  font-size:48px;
  font-weight:900;

  text-shadow:
    0 0 10px #fff,
    0 0 20px #00eaff;
}

/* ШКАЛА */
.hypeBarBig{
  height:35px;
  background:#111;
  border-radius:20px;
  overflow:hidden;

  box-shadow:0 0 20px #00eaff;
}

.hypeFillBig{
  height:100%;
  background:linear-gradient(90deg,#ff3b3b,#ffe600,#00ffcc);
}

/* КУБИК */
#rollBtn{
  position:absolute;
  bottom:40px;
  left:50%;
  transform:translateX(-50%);

  font-size:34px;
  padding:20px 40px;
  border-radius:20px;

  background:#00eaff;
  color:#000;
  font-weight:900;

  box-shadow:0 0 40px #00eaff;
}

/* ВЫПАЛО */
#diceResult{
  position:absolute;
  bottom:120px;
  left:50%;
  transform:translateX(-50%);

  font-size:42px;
  font-weight:900;

  text-shadow:0 0 20px #00eaff;
}

/* КАРТОЧКА */
.neonCard{
  background:#0a0a0a;
  padding:30px;
  border-radius:20px;

  box-shadow:
    0 0 20px #ff3b3b,
    0 0 40px #00eaff;

  animation:pop 0.3s;
}

.cardTitle{
  font-size:32px;
  font-weight:900;
}

.cardText{
  font-size:22px;
  margin:10px 0;
}

.cardValue{
  font-size:30px;
  font-weight:900;
}

.plus{
  color:#00ff99;
}

.minus{
  color:#ff3b3b;
}

/* ВСПЫШКИ */
.flashGood{ animation:flashG 0.3s; }
.flashBad{ animation:flashR 0.3s; }

@keyframes flashG{
  50%{background:#003322;}
}
@keyframes flashR{
  50%{background:#330000;}
}

/* МОДАЛ */
#modal{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

/* ПОБЕДА */
.winScreen{
  font-size:60px;
  color:#ffe600;
}
